@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #87d36f;
    text-align: center;
    margin: 20px;
}

#perfil-con-redes {
    float: right;
    text-align: center;
    width: 200px;
}

#foto-perfil {
    width: 100%;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
}

#frase {
    font-size: 14px;
    margin: 0 0 10px 0;
}

#instagram-link {
    display: inline-block;
}

#instagram-logo {
    width: 25px;
    height: auto;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;   /* Empuja el footer hacia abajo */
}

footer {
    background-color: #87d36f;
    text-align: center;
    padding: 10px;
}
